<div class="container-fluid d-flex flex-column align-items-center mt-5" style="width: 250px">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "w-100 mt-4"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-3">
      <%= f.label :name,  class: "form-label" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", required: true %>
    </div>

    <div class="field mt-3">
      <%= f.label :email,class:"form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", required: true %>
    </div>

    <div class="field mt-3">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control", required: true%>
    </div>

    <div class="field mt-3">
      <%= f.label :password_confirmation, class:"form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control", required: true %>
    </div>

    <div class="actions mt-3">
      <%= f.submit "Sign up" ,class:"btn btn-outline-warning text-black mb-3"%>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
