<div class="container-fluid d-flex flex-column align-items-center mt-5 " style="width: 250px">
  <h2>Sign in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "w-100 mt-4"} ) do |f| %>
    <div class="field mt-3">
      <%= f.label :email ,class:"form-label"%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control", required: true %>
    </div>

    <div class="field mt-3">
      <%= f.label :password , class:"form-label"%><br />
      <%= f.password_field :password, autocomplete: "current-password",class:"form-control", required: true %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mt-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions mb-5">
      <%= f.submit "Sign in", class:"btn btn-outline-warning text-black mt-3" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>